body {
    background-color: white;
}

.darkMode {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.darkMode .navbar {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
}

.darkMode .navbar button {
    color: white;
}

.darkMode .navbar button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.darkMode .navbar button.active {
    background-color: rgb(255, 255, 255);
    color: black;
}

.darkMode header {
    background-color: rgb(0, 0, 0);
    color: white;
}

.darkMode .logout {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.darkMode .logout:hover {
    background-color: white;
    color: black;
}

.darkMode .dark-light-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.darkMode .sidebar {
    border: 2px solid white;
}

.darkMode td, tr {
    border: 1px solid white;
}

.dark-light-button {
    position: absolute;
    background-color: rgb(0, 0, 0);
    margin-left: 1250px;
    color: rgb(255, 255, 255);
}

header {
    background-color: white;
    color: black;
    text-align: center;
    width: auto;
    height: 100px;
    padding: 20px 20px 20px 20px;
    border: 1px solid black;
    border-bottom: transparent;
}

.navbar {
    overflow: hidden;
    border: 1px solid black;
    background-color: white;
    display: flex;
}

.navbar button{
    background-color: inherit;
    float:left;
    flex: 1;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    border: 1px solid black;
}

.navbar button:hover{
    color: rgba(31, 31, 31, 0.589);
    background-color: rgba(184, 45, 45, 0.521);
}

.navbar button.active {
    background-color: rgba(184, 45, 45, 0.521);
}

.logout {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logout:hover{
    background-color: rgba(184, 45, 45, 0.521);;
}

footer {
    text-align: center;
}