body {
    background-color: bisque;
}

.loginForm {
    position: absolute;
    background-color: plum;
    height: 250px;
    width: 350px;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -175px;
}

.usernameInput {
    height: 35px;
    width: 250px;
    border-style: none;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: 55px 0px 0px 45px;
}

.passwordInput {
    height: 35px;
    width: 250px;
    border-style: none;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: 25px 0px 0px 45px;
}

.loginButton {
    height: 35px;
    width: 250px;
    border-style: none;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: 45px 0px 0px 45px;
}
.loginButton:hover {
    background-color: lightblue;
}

.error {
    background: #f2dede;
    color: #a94442;
    height: 35px;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    margin: 65px 0px 0px 45px;
}