body {
    background-color: bisque;
}

.loginForm {
    position: absolute;
    background-color: plum;
    height: 250px;
    width: 350px;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -175px;
}

.accountInput {
    height: 35px;
    width: 250px;
    border-style: none;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: 55px 0px 0px 45px;
}

.passwordInput {
    height: 35px;
    width: 250px;
    border-style: none;
    border-radius: 25px;
    top: 50%;
    left: 50%;
    margin: 55px 0px 0px 45px;
}